@model IEnumerable<APISTest.ViewModels.RDRMainIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb">
    <li><a href="#">MKT管理</a></li>
    <li><a href="#">RDR維護</a></li>
    <li class="active">列表頁</li>
</ol>

<table class="table">
    <tr>
        <td colspan="3" style="background-color:yellowgreen; font-size:larger; font-weight:bold; ">搜尋條件</td>
    </tr>
    <tr>
        <td class="col-md-3">
            @Html.Label("RDRNum", "RDR No.")
            @Html.TextBox("serach_RDR")
        </td>
        <td class="col-md-5" colspan="3">
            @Html.Label("SOPEOL", "依SOP、EOL Date:")
            @Html.Editor("search_SOPEOL", new { htmlAttributes = new { type = "month" } })
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("lab_CustomerTeam", "依客戶:")
            @Html.DDL_CustomerTeam("aaa", 0, true)
        </td>
        <td>
            @Html.Label("lab_Site", "依地區:")
            @(Html.DDL_FromEnum<EnumSite>("EnumSiteList", "", true))
        </td>
        <td>
            @Html.Label("lab_RFQDate", "依RFQ Date:")
            @Html.Editor("search_RFQDate", new { htmlAttributes = new { type = "date" } })
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("lab_Product", "依燈種:")
            @Html.DDL_ProductGroup("pp", 0, true)
        </td>
        <td>
            @Html.Label("lab_CarMaker", "依車廠別:")
            @Html.DDL_CarMaker("tt", 0, true)
        </td>
        <td>
            <button type="button" class="btn btn-primary">搜 尋</button>
        </td>
    </tr>
</table>


<p>
    @Html.ActionLink("新 增", "Create", "RDRMains", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            RDR#
        </th>
        <th>
            客戶群
        </th>
        <th>
            量產地
        </th>
        <th>
            車廠
        </th>
        <th>
            車型
        </th>
        <th>
            預估年銷售量
        </th>
        <th>@Html.DisplayNameFor(model => model.RFQDate)</th>
        <th>
            報價需求日
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOPDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EOLDate)
        </th>
        <th>
            把握度
        </th>
        <th>
            報價幣別
        </th>
        <th>
            專案名稱
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rdrMain.RDRNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rdrMain.CustomerTeamCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rdrMain.Site)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarMaker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rdrMain.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rdrMain.EstimateSales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFQDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcquisitionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SOPDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EOLDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rdrMain.Certainty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rdrMain.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rdrMain.ProjectName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.rdrMain.ID }) |

                @Html.ActionLink("Delete", "Delete", new { id = item.rdrMain.ID })
            </td>
        </tr>
    }

</table>
