
@using PagedList
@using PagedList.Mvc
@model IPagedList<APIS.ViewModels.CustomerViewModel>

@section styles{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}


<table class="table">
    <tr>
        <th>客戶代碼
            @*@Html.DisplayNameFor(model => model.First().Code)*@
        </th>
        <th>客戶名稱
            @*@Html.DisplayNameFor(model => model.First().Name)*@
        </th>
        <th>客戶群
            @*@Html.DisplayNameFor(model => model.First().ParentID)*@
        </th>
        <th>是否刪除
            @*@Html.DisplayNameFor(model => model.First().IsDelete)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDelete)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>

