@model APISTest.ViewModels.RDRMainDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<ol class="breadcrumb">
    <li><a href="#">MKT管理</a></li>
    <li><a href="#">RDR維護</a></li>
    <li class="active">編輯專案基本資料</li>
</ol>

<div>
     <table class="table table-bordered">
         <tr>
             <td colspan="6" style="background-color:yellowgreen; font-size:larger; font-weight:bold; ">專案基本資料</td>
         </tr>
         <tr>
             <th class="col-md-2">RDR#</th>
             <td class="col-md-3">
                 @Html.DisplayFor(model => model.rdrMain.RDRNumber)
             </td>

             <th class="col-md-1">客戶群</th>
             <td class="col-md-2">
                 @Html.DisplayFor(model => model.rdrMain.CustomerTeamCode)
             </td>

             <th class="col-md-2">業務</th>
             <td class="col-md-3">@Html.DisplayFor(model => model.rdrMain.CreateUserID)</td>
         </tr>
         <tr>
             <th class="col-md-2">專案名稱</th>
             <td class="col-md-3">@Html.DisplayFor(model => model.rdrMain.ProjectName)</td>

             <th>LOB</th>
             <td>@Html.DisplayFor(model => model.rdrMain.LOB)</td>

             <th>量產地</th>
             <td>@Html.DisplayFor(model => model.rdrMain.Site)</td>
         </tr>
         <tr>
             <th>車廠</th>
             <td>@Html.DisplayFor(model => model.CarMaker)</td>

             <th>車型</th>
             <td>@Html.DisplayFor(model => model.rdrMain.CarModel)</td>

             <th>車型預估年銷售量</th>
             <td>@Html.DisplayFor(model => model.rdrMain.EstimateSales)</td>
         </tr>
         <tr>
             <th>RFQ Date</th>
             <td>@Html.DisplayFor(model => model.RFQDate)</td>

             <th>報價需求日</th>
             <td>@Html.DisplayFor(model => model.AcquisitionDate)</td>

             <th></th>
             <td></td>
         </tr>
         <tr>
             <th>SOP Date</th>
             <td>@Html.DisplayFor(model => model.SOPDate)</td>

             <th>EOL Date</th>
             <td>@Html.DisplayFor(model => model.EOLDate)</td>

             <th>把握度</th>
             <td>@Html.DisplayFor(model => model.rdrMain.Certainty)</td>
         </tr>
         <tr>
             <th>報價類型</th>
             <td>@Html.DisplayFor(model => model.rdrMain.RequestClass)</td>

             <th>報價方式</th>
             <td>@Html.DisplayFor(model => model.rdrMain.RequestType)</td>

             <th>報價貨幣</th>
             <td>@Html.DisplayFor(model => model.rdrMain.Currency)</td>
         </tr>
         <tr>
             <th class="col-md-2">預估年營業額</th>
             <td class="col-md-3" colspan="5">@Html.DisplayFor(model => model.EstimateRevenueText)</td>
         </tr>
     </table>

    <div class="row">
        <div class="col-md-1">
            @Html.ActionLink("取 消", "Delete", "RDRMains", new { id = Model.rdrMain.ID }, new { @class = "btn btn-info", @onclick = "return Confirm_Form()" })
        </div>

        <div class="col-md-1">
            @Html.ActionLink("編 輯", "Edit", "RDRMains", new { id = Model.rdrMain.ID }, new { @class = "btn btn-warning" })
        </div>

        <div class="col-md-2">
            @Html.ActionLink("下一步", "Create", "RDRModules", new { id = Model.rdrMain.ID }, new { @class = "btn btn-success" })
        </div>
    </div>
</div>

@section scripts
{
    <script>
        function Confirm_Form() {
            if (!confirm("即將刪除表單資料，您確定要刪除嗎?"))
                return false;
        }
    </script>
}