@model IEnumerable<APIS.Models.RDRInformation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParentID)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ProjectType)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.IsElectronic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSoftware)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsMechanism)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOptic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsLAK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsLAW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsLGA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsLAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTCH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TxtOther_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSpec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsGERBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsWireDwg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSample)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsBOM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAssemblyDwg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDChart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCKT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is2D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is3D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsROHS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsELV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVLS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TxtOthers_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsMaterialCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPackageCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProcessCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProductHourCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTestHourCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSamplePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsModuleFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSampleFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHandMoldingFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTravelFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTestFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDevelopFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVerifyToolFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TxtOthers_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAssignForm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProposal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDevPlan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsStepPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TxtOthers_4)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParentID)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ProjectType)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.IsElectronic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSoftware)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsMechanism)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOptic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsLAK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsLAW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsLGA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsLAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsTCH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TxtOther_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSpec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsGERBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsWireDwg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSample)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsBOM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAssemblyDwg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDChart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCKT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is2D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is3D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsROHS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsELV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVLS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TxtOthers_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsMaterialCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPackageCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsProcessCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsProductHourCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsTestHourCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSamplePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsModuleFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSampleFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsHandMoldingFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsTravelFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsTestFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDevelopFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVerifyToolFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TxtOthers_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAssignForm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsProposal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDevPlan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsStepPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TxtOthers_4)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
