@model IEnumerable<APIS.Models.Team>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>use jQuery.UI</p>
<input type="text" id="mpvalue" name="mpvalue" />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDelete)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDelete)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

@section scripts{
<script>
    $(document).ready(function () {

        $('#mpvalue').autocomplete({
            source: '@Url.Action("GetTeams")'
        });

    })
    </script>    
}