@model APISTest.ViewModels.KickoffCreateViewModel
@{
    ViewBag.Title = "Kickoff";
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
}


<ol class="breadcrumb">
    <li><a href="#">MKT管理</a></li>
    <li><a href="#">Awarded Check</a></li>
    <li class="active">填寫新機種開案單</li>
</ol>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.rdrMain.ID)

        <dl class="dl-horizontal">
            <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:150px; ">開案單號 ：</dt>
            <dd style="margin:2px 0; padding:5px 0;"><span style="color:red">自動編號</span></dd>
            <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:150px; ">Kickoff 召開日期：</dt>
            <dd style="margin:2px 0; padding:5px 0;">@Html.EditorFor(m => m.KickoffDate, new { htmlAttributes = new { type = "date"} })</dd>
        </dl>
            <table class="table table-bordered">
                <tr>
                    <td colspan="6" style="background-color:yellowgreen; font-size:larger; font-weight:bold; ">專案基本資料</td>
                </tr>
                <tr>
                    <th class="col-md-2">RDR#</th>
                    <td class="col-md-3">
                        @Html.DisplayFor(model => model.rdrMain.RDRNumber)
                    </td>

                    <th class="col-md-1">客戶群</th>
                    <td class="col-md-2">
                        @Html.DisplayFor(model => model.rdrMain.CustomerTeamCode)
                    </td>

                    <th class="col-md-2">業務</th>
                    <td class="col-md-3">土哥</td>
                </tr>
                <tr>
                    <th>專案名稱</th>
                    <td>@Html.DisplayFor(model => model.rdrMain.ProjectName)</td>
                    <th>LOB</th>
                    <td>@Html.DisplayFor(model => model.rdrMain.LOB)</td>
                    <th>量產地</th>
                    <td>@Html.DisplayFor(model => model.rdrMain.Site)</td>
                </tr>
                <tr>
                    <th>車廠</th>
                    <td>@Html.DisplayFor(model => model.CarMakerName) </td>

                    <th>車型</th>
                    <td>@Html.DisplayFor(model => model.rdrMain.CarModel)</td>

                    <th>車型預估年銷售量</th>
                    <td>
                        @Html.DisplayFor(model => model.rdrMain.EstimateSales)
                    </td>
                </tr>
                <tr>
                    <th>SOP Date</th>
                    <td>
                        @Html.DisplayFor(model => model.SOPDate)
                    </td>

                    <th>EOL Date</th>
                    <td>
                        @Html.DisplayFor(model => model.EOLDate)
                    </td>
                    <th>預估年營業額</th>
                    <td>@Html.DisplayFor(model => model.EstimateRevenueText)</td>
                </tr>
            </table>

            <table class="table table-bordered">
                <tr>
                    <td colspan="4" style="background-color:yellowgreen; font-size:larger; font-weight:bold; ">專案其他資訊</td>
                </tr>
                <tr>
                    <th rowspan="4" style="vertical-align:middle">專案類型</th>
                    <td>
                        @Html.EditorFor(m => m.rdrInfo.IsNewProductDev) 新產品開發案
                    </td>
                    <td>
                        @Html.EditorFor(m => m.rdrInfo.IsODM) 既有平台開發案
                    </td>
                    <td>
                        @Html.EditorFor(m => m.rdrInfo.IsExtension) 平台延伸機種
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.EditorFor(m => m.rdrInfo.IsSoftwareDev) 純軟體開發案
                    </td>
                    <td>
                        @Html.EditorFor(m => m.rdrInfo.IsSoftwareParam) 純軟體參數調教案
                    </td>
                    <td>
                        @Html.EditorFor(m => m.rdrInfo.IsInnerTechDev) 內部技術開發案
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.EditorFor(m => m.rdrInfo.IsOEM) OEM 代工案
                    </td>
                    <td>
                        @Html.EditorFor(m => m.rdrInfo.IsProductionTrans) 量產移轉案
                    </td>
                </tr>
            </table>

            <table class="table table-bordered">
                <tr>
                    <td colspan="6" style="background-color:yellowgreen; font-size:larger; font-weight:bold; ">報價需求客戶輸入資料</td>
                </tr>
                <tr>
                    <th class="col-md-2">規格</th>
                    <td class="col-md-2">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsSpec, true, new { id = "IsSpec_Y", name = "IsSpec" }) 有
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsSpec, false, new { id = "IsSpec_N", name = "IsSpec" }) 無
                        </label>
                    </td>
                    <th class="col-md-2">GERBER</th>
                    <td class="col-md-2">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsGERBER, true, new { id = "IsGERBER_Y", name = "IsGERBER" }) 有
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsGERBER, false, new { id = "IsGERBER_N", name = "IsGERBER" }) 無
                        </label>
                    </td>
                    <th class="col-md-2">線材圖面</th>
                    <td class="col-md-2">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsWireDwg, true, new { id = "IsWireDwg_Y", name = "IsWireDwg" }) 有
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsWireDwg, false, new { id = "IsWireDwg_N", name = "IsWireDwg" }) 無
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-2">SAMPLE</th>
                    <td class="col-md-2">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsSample, true, new { id = "IsSample_Y", name = "IsSample" }) 有
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsSample, false, new { id = "IsSample_N", name = "IsSample" }) 無
                        </label>
                    </td>
                    <th class="col-md-2">BOM</th>
                    <td class="col-md-2">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsBOM, true, new { id = "IsBOM_Y", name = "IsBOM" }) 有
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsBOM, false, new { id = "IsBOM_N", name = "IsBOM" }) 無
                        </label>
                    </td>
                    <th class="col-md-2">組合圖</th>
                    <td class="col-md-2">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsAssemblyDwg, true, new { id = "IsAssemblyDwg_Y", name = "IsAssemblyDwg" }) 有
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsAssemblyDwg, false, new { id = "IsAssemblyDwg_N", name = "IsAssemblyDwg" }) 無
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-2">D CHART</th>
                    <td class="col-md-2">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsDChart, true, new { id = "IsDChart_Y", name = "IsDChart" }) 有
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsDChart, false, new { id = "IsDChart_N", name = "IsDChart" }) 無
                        </label>
                    </td>
                    <th class="col-md-2">CKT</th>
                    <td class="col-md-2">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsCKT, true, new { id = "IsCKT_Y", name = "IsCKT" }) 有
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsCKT, false, new { id = "IsCKT_N", name = "IsCKT" }) 無
                        </label>
                    </td>
                    <th class="col-md-2">2D圖面</th>
                    <td class="col-md-2">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.Is2D, true, new { id = "Is2D_Y", name = "Is2D" }) 有
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.Is2D, false, new { id = "Is2D_N", name = "Is2D" }) 無
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-2">製程要求</th>
                    <td class="col-md-2">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsROHS, true, new { id = "IsROHS", name = "IsROHS" }) ROHS
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsELV, true, new { id = "IsELV", name = "IsELV" }) ELV
                        </label>
                    </td>
                    <th class="col-md-2">VLS配阻</th>
                    <td class="col-md-2">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsVLS, true, new { id = "IsVLS_Y", name = "IsVLS" }) 有
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsVLS, false, new { id = "IsVLS_N", name = "IsVLS" }) 無
                        </label>
                    </td>
                    <th class="col-md-2">3D圖面</th>
                    <td class="col-md-2">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.Is3D, true, new { id = "Is3D_Y", name = "Is3D" }) 有
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.Is3D, false, new { id = "Is3D_N", name = "Is3D" }) 無
                        </label>
                    </td>
                </tr>
            </table>
            @* 這邊考慮用 partialView來放 *@
            <table class="table table-bordered">
                <tr>
                    <td td colspan="6" style="background-color:yellowgreen; font-size:larger; font-weight:bold; ">機種資料</td>
                </tr>
                <tr>
                    <th class="col-md-2">Module</th>
                    <th>預估年產量</th> @*靠北!! 這邊又要自動產生欄位*@
                    <th class="col-md-1">Awarded</th>
                    <th class="col-md-1">Price</th>
                    <th>Fail</th>
                    <th>原因</th>
                </tr>

                @foreach (var item in Model.rdrModuleList)
                {
                    var idx = Model.rdrModuleList.IndexOf(item);
                    <tr>
                        <td>@item.ModuleName</td>
                        <td>@item.EstimateProduct</td> @*這邊要改為可以編輯*@
                        <td>@Html.RadioButton("AwardOrFail"+ idx, item.IsAwarded ?? false)</td>
                        <td>@Html.Editor("Price" + idx, item.Price.HasValue ? item.Price.ToString() : "0.0", new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.RadioButton("AwardOrFail" + idx, item.IsFail ?? false)</td>
                        <td>@Html.Editor("Reason" + idx, item.Reason , new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>

                    idx++;
                }
            </table>
            @* 這邊考慮用 partialView來放 *@
            <table class="table table-bordered" id="Table1">
                <tr><td colspan="5" style="background-color:yellowgreen; font-size:larger; font-weight:bold; ">客戶時程及樣品需求</td></tr>
                <tr>
                    <th class="col-md-2">階段</th>
                    <th class="col-md-3">樣品需求日期</th>
                    <th class="col-md-2">數量(pcs)</th>
                    <th class="col-md-5">用途描述</th>
                    <th><input type="button" class="BtnPlus btn-warning" value="新 增" /></th>
                </tr>
                <tr id="trBuild_Clone">
                    <td>@(Html.DDL_FromEnum<EnumDesignVerify>("DDL_DesignVerify", "", false, new { @class = "form-control" }))</td>
                    <td>@Html.Editor("RequireDate", new { htmlAttributes = new { @class = "form-control", type = "date" } })</td>
                    <td>@Html.Editor("Quantity", new { htmlAttributes = new { @class = "form-control" } })</td>
                    <td>@Html.Editor("Description", new { htmlAttributes = new { @class = "form-control" } })</td>
                    <td><input type="button" class="BtnMinus btn-danger" value="刪 除" /></td>
                </tr>
            </table>

            <table class="table table-bordered">
                <tr>
                    <td colspan="6" style="background-color:yellowgreen; font-size:larger; font-weight:bold; ">客戶品質要求及測試要求</td>
                </tr>
                <tr>
                    <th style="vertical-align:middle">可靠性實驗要求</th>
                    <td>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsSpec, true, new { id = "IsSpec_Y", name = "IsSpec" }) 需要
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.rdrInfo.IsSpec, false, new { id = "IsSpec_N", name = "IsSpec" }) 不需要
                        </label>
                    </td>
                    <td>
                        <label>其他特殊品質要求：</label>
                        @Html.TextAreaFor(model => model.rdrInfo.TxtOther_1, new { htmlAttributes = new { @class = "form-control" }, cols = 60, rows = 3, placeHolder = "其他需求" })
                    </td>
                </tr>
                <tr>
                    <th rowspan="4" style="vertical-align:middle">客戶認可方式</th>
                    <td colspan="2">
                        <div class="col-md-2">@Html.EditorFor(m => m.kickoff.IsPPAP) PPAP</div>
                        <div class="col-md-1"><label>Level:</label></div>
                        <div class="col-md-1">@Html.TextBox("level",null, new { disabled = "true" })</div>
                        <div class="col-md-2">@Html.EditorFor(m => m.kickoff.IsCustomerDocForm) <label>客戶版文件表單</label></div>
                        <div class="col-md-3">@Html.EditorFor(m => m.kickoff.IsLiteonConFirm) <label>Liteon版文件表單</label></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.EditorFor(m => m.kickoff.IsCustomerConFirm)
                        Liteon認可單客戶回簽
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.EditorFor(m => m.kickoff.IsCustomerDocForm)
                        客戶Email/文件通知認可
                    </td>
                </tr>
            </table>

            <div class="row">
                <div class="col-md-1">
                    @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-info" })
                </div>

                <div class="col-md-1">
                    <div>
                        <input type="submit" value="儲存" class="btn btn-success" />
                    </div>
                </div>
            </div>
</div>
}

<script type="text/javascript">
    $(document).ready(function () {
    
        var ID = 2;
        function addRow() {
            @*var html =
                '<tr>' +
                '<td><input type="text" id="txtName' + ID + '"></td>' +
                '<td>' +
                '@Ajax.JavaScriptStringEncode(Html.DropDownList("DDL_Teams", (IEnumerable<SelectListItem>)ViewData["Teams"]).ToHtmlString())' +
                '</td>' +
                '<td><input type="button" class="BtnMinus btn-danger" value="刪除" /></td>' +
                '</tr>';*@

            var html = $('#trBuild_Clone').clone();     //只複製 td
            $("#Table1 tr:last").after(html);
            ID++;
        };

        function deleteRow() {
            var par = $(this).parent().parent();
            par.remove();
        };

        //刪除列
        $("#Table1").on("click", ".BtnMinus", deleteRow);

        //新增列
        $('.BtnPlus').click(function () {
            addRow();
        });

        //CheckBox-PPAP 勾選事件(勾選:開啟textbox,取消勾選:disable textbox)
        $('#kickoff_IsPPAP').change(function () {
            if (this.checked) {
                $('#level').removeAttr('disabled');
            } else
            {
                $('#level').attr("disabled", true)
            }
        });

    });//$(document).ready()結尾處,不要亂動!!
</script>