@model APIS.ViewModels.RDRModuleViewModel

@{
    ViewBag.Title = "Create";
}


<ol class="breadcrumb">
    <li><a href="#">MKT管理</a></li>
    <li><a href="#">RDR維護</a></li>
    <li><a href="#">新增RDR表單</a></li>
    <li class="active">新增機種資料</li>
</ol>


<h3>新增機種資料</h3>
<div>
    @using (Html.BeginForm("Create","RDRModules",FormMethod.Post, new { id = "ListForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.ParentID)
            @Html.HiddenFor(m => m.MainCode)
            @Html.HiddenFor(m => m.StartYear)
            @Html.HiddenFor(m => m.EndYear)

            <div class="form-group">
                @Html.Label("RDR#", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    <span style="color:red">系統自動編號</span>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Module", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.ModuleName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ModuleName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("客戶料號", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.CustomerBOM, new { htmlAttributes = new { @class = "form-control", placeHolder = "N/A" } })
                    @Html.ValidationMessageFor(model => model.CustomerBOM, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("產品別", htmlAttributes: new { @class = "control-label col-md-2" })
                @*@Html.LabelFor(model => model.ProductGroupID, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-3">
                    @* 下拉 *@
                    @Html.DDL_ProductGroup("ProductGroupsList", 0, false, new { @class = "control-label" })
                    @*@Html.EditorFor(model => model.ProductGroupID, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.ProductGroupID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("交貨地", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @* 下拉 *@
                    @Html.DDL_Customers("CustomersList", Model.CustomerID, 0, false, new { @class = "control-label" })
                    @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("預估年產量", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    <table class="table-bordered" id="mytable">
                        <tr>
                            <td class="col-xs-2">年度</td>
                            <td style="text-align:center">預估年產量(總量，含左右邊)</td>
                        </tr>
                        @for (int i = 0; i < (Model.EndYear - Model.StartYear + 1); i++)
                        {
                            int idx = Model.StartYear + i;
                            <tr>
                                <td style="text-align:center" class="myyears">@idx.ToString()</td>
                                <td style="text-align:center">
                                    @Html.TextBox("Index_" + idx.ToString(), Model.Estimate, new { id = "Index_" + idx.ToString(), @class = "myestimate" }) <span>(K Pcs/Y)</span>
                                </td>
                            </tr>
                        }
                        @Html.HiddenFor(m => m.EstimateProduct)
                    </table>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("附件", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @* 上傳 *@
                    <input type="file" id="file" name="file" />
                    @Html.HiddenFor(model => model.Attachment)
                    @*@Html.EditorFor(model => model.Attachment, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Attachment, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("備註", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" }, rows = 5, cols = 70 })
                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                @Html.ActionLink("返 回", "DeleteAll", "RDRModulesTemp", new { parentID = Model.ParentID}, new { @class = "btn btn-info", @onclick = "return Confirm_Form()" })
            </div>

            <div>
                <div class="col-md-2">
                    <input type="submit" value="加入機種清單" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
</div>
<hr style="width: 100%; color:lightsteelblue; height: 2px; background-color:lightsteelblue;" />
<div id="PartialModuleTemp">
    @{ Html.RenderPartial("_MyPartialView", Model.RDRModuleTempList); }
</div>


@section scripts
{
    <script>
        function Confirm_Form() {
            if (!confirm("機種清單尚未儲存，若返回即刪除資料，您確定要刪除嗎?")) {
                return false;
            }
        }


        ///預估年產量 textbox 內容變更事件
        var list = []; //預估年產量字串陣列
        $('.myestimate').change(function (e) {
            //Get ID & Value
            var ID = this.id;
            var year = this.id.substr(6, 4); //ex. Index_2016 => 2016
            var Value = $('#' + ID).val();

            //組合成字串
            var str = year + ":" + Value;
            list.push(str);
            $('#EstimateProduct').val(list);    //寫入Html.Hidden中
        });


        //機種清單-刪除項目
        $('.BtnMinus').click(function () {

            var pid = $('input[id^="ParentID"]').val(); //Get RDRModule.ParentID
            var idx = $(this).parent().parent().find('td[id^="tempID"]').text(); //Get RDRModuleTemp.ID
            //alert("parentID:" + pid);

            //以ajax方式,跑RDRModulesTemp/Delete
            $.ajax({
                url: '@Url.Action("Delete", "RDRModulesTemp")',  // 用Url.Action 轉出的 URI字串比較正確 , 降低404 Not Find 的機會
                type: "POST",
                data: JSON.stringify({ Id: idx, parentID: pid }), //ajax傳遞參數 id、parentID，需與RDRModulesTemp/Delete 的傳入參數名稱相同, JSON.stringify是將參數序列化為 json格式
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                async: true,
                processData: false,
                cache: false,
                success: function (data, textStatus, xhr) {
                    //alert(textStatus);

                    //後端刪除成功，隨後回到前端success這邊做Url 導向
                    //後端return  Json(new { result = "Redirect", url = Url.Action("Create", "RDRModules",new { id = parentID}) })
                    //data即包含result & url
                    if (data.result == 'Redirect')
                        window.location = data.url;
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });

        });

    </script>

}

