@using PagedList
@using PagedList.Mvc
@model IEnumerable<APISTest.ViewModels.CustomerViewModel>
@*@model IPagedList<APISTest.ViewModels.CustomerViewModel>*@

@*@section styles{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}*@

@{
    ViewBag.Title = "Index";
}

<h2>Customers/Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            客戶代碼
            @*@Html.DisplayNameFor(model => model.First().Code)*@
        </th>
        <th>
            客戶名稱
            @*@Html.DisplayNameFor(model => model.First().Name)*@
        </th>
        <th>
            客戶群
            @*@Html.DisplayNameFor(model => model.First().ParentID)*@
        </th>
        <th>
            是否刪除
            @*@Html.DisplayNameFor(model => model.First().IsDelete)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerTeamCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDelete)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

@*<div id="CustomerData">

</div>*@

@*@section scripts{
    <script type="text/javascript">

        $( function () {
            var page = window.location.hash ? window.location.hash.slice(1) : 1;
            fetchPage(page);
        });

        var fetchPage = function (page) {
            var pagedPartialUrl = ' @Url.Action("PagedPartial", "Customers" )';  // 導向CustomersController的 ActionResult PagedPartial()

            $.get(pagedPartialUrl, { page: page }, function (data) {

                window.location.hash = page;
                $('#CustomerData').html(data);

                $('#CustomerData .pagination li a').each(function (i, item) {
                    var hyperLinkUrl = $(item).attr('href' );
                    if (typeof hyperLinkUrl !== 'undefined' && hyperLinkUrl !== false) {
                        var pageNumber = $(item).attr('href').replace('/Customers?page=', '');

                        $(item).attr( 'href', '#' ).click(function (event) {
                            event.preventDefault();
                            $(event.target).attr( 'href');
                            fetchPage(pageNumber);
                        });
                    }
                });
            });
        }

    </script>
}*@
