@model IEnumerable<APISTest.Models.RDR>

@{
    ViewBag.Title = "Index";
}

<h2>RDR管理/Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>RDR#
            @*@Html.DisplayNameFor(model => model.RDRNumber)*@
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CustomerTeamID)
        </th>*@
        <th>客戶群
            @*@Html.DisplayNameFor(model => model.CustomerTeamCode)*@
        </th>
        <th>量產地
            @*@Html.DisplayNameFor(model => model.Site)*@
        </th>
        <th>是否刪除
            @*@Html.DisplayNameFor(model => model.IsDelete)*@
        </th>
        <th>Operation</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RDRNumber)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CustomerTeamID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.CustomerTeamCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Site)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDelete)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
