@model IEnumerable<APISTest.Models.RDRModule>

@{
    ViewBag.Title = "Details";
    var idx = ViewContext.RouteData.Values["id"];
}

<ol class="breadcrumb">
    <li><a href="#">MKT管理</a></li>
    <li><a href="#">RDR維護</a></li>
    <li><a href="#">新增RDR表單</a></li>
    <li class="active">新增機種資料</li>
</ol>


<p>
    @Html.ActionLink("新增機種", "Create", "RDRModules", new { id = idx }, new { @class = "btn btn-warning" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RDRNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductGroupID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimateProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attachment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleVersion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RDRNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductGroupID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimateProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attachment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleVersion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @onclick = "return Confirm_Form()" })
            </td>
        </tr>
    }

</table>
<div class="row">
    @*<div class="col-md-1">
        @Html.ActionLink("返 回", "Index", "RDRManage", null, new { @class = "btn btn-info" })
    </div>*@
<div class="col-md-2">
    @Html.ActionLink("下一步", "Create", "RDRInfos", new { id = idx }, new { @class = "btn btn-success" })
</div>
</div>

@section scripts
{
    <script type="text/javascript">
        function Confirm_Form() {
            if (!confirm("您確定要刪除嗎?"))
                return false;
        }
    </script>
}