<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("APIS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("首頁", "Index", "Home")</li>
                    <li>@Html.ActionLink("關於", "About", "Home")</li>
                    <li>@Html.ActionLink("連絡方式", "Contact", "Home")</li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">基本資料管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("客戶群", "Index", "CustomerTeams")</li>
                            <li>@Html.ActionLink("客戶", "Index", "Customers")</li>
                            <li>@Html.ActionLink("產品類別", "Index", "ProductGroups")</li>
                            <li>@Html.ActionLink("車廠", "Index", "CarMakers")</li>
                            <li><a href="#">SAP-BOM維護</a></li>
                            <li><a href="#">耗材計算表維護</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MKT管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("RDR維護", "Index", "RDRManage")</li>
                            <li><a href="#">報價維護</a></li>
                            <li>@Html.ActionLink("Awarded Check", "Index", "AwardedCheck")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">R&D管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">RFQ-BOM維護</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CM管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">BOM Mapping</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">IE管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">治工具成本維護</a></li>
                            <li><a href="#">人機工時成本維護</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PUR管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">詢價資料維護</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">報表管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">管理報表</a></li>
                            <li><a href="#">成本估算單</a></li>
                            <li><a href="#">查詢報價作業進度</a></li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryajax")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
