@model APISTest.ViewModels.RDRInfoViewModel
@{
    ViewBag.Title = "Edit";
    int id = Convert.ToInt32(ViewContext.RouteData.Values["id"]);
}

<ol class="breadcrumb">
    <li><a href="#">MKT管理</a></li>
    <li><a href="#">RDR維護</a></li>
    <li><a href="#">編輯RDR表單</a></li>
    <li class="active">編輯其他報價資訊</li>
</ol>
<hr />

@using (Html.BeginForm("Edit", "RDRInfos", FormMethod.Post, new { id = "ListForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.rdrInfo.ID)
        @Html.HiddenFor(m => m.rdrInfo.ParentID)

        <table class="table table-bordered">
            <tr>
                <td colspan="3" style="background-color:yellowgreen; font-size:larger; font-weight:bold; text-align:center">專案其他資訊</td>
            </tr>
            <tr>
                <th rowspan="8" style="vertical-align:middle">專案類型</th>
                <td colspan="5">
                    @Html.EditorFor(m => m.rdrInfo.IsNewProductDev)
                    新產品開發案，請附上 Market Research Report (FM04053)
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    @Html.EditorFor(m => m.rdrInfo.IsODM)
                    既有平台開發案 ODM
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    @Html.EditorFor(m => m.rdrInfo.IsExtension)
                    平台延伸機種
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    @Html.EditorFor(m => m.rdrInfo.IsSoftwareDev)
                    純軟體開發案
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    @Html.EditorFor(m => m.rdrInfo.IsSoftwareParam)
                    純軟體參數調教案
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    @Html.EditorFor(m => m.rdrInfo.IsInnerTechDev)
                    內部技術開發案，請附上 Market Research Report (FM04053)
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    @Html.EditorFor(m => m.rdrInfo.IsOEM)
                    OEM 代工案
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    @Html.EditorFor(m => m.rdrInfo.IsProductionTrans)
                    量產移轉案
                </td>
            </tr>
            <tr>
                <th rowspan="4" style="vertical-align:middle">開發資源需求</th>
                <td>
                    RD 人力
                </td>
                <td colspan="4">
                    <label class="checkbox-inline">
                        @Html.EditorFor(m => m.rdrInfo.IsElectronic)電子
                    </label>
                    <label class="checkbox-inline">
                        @Html.EditorFor(m => m.rdrInfo.IsSoftware)  軟體
                    </label>
                    <label class="checkbox-inline">
                        @Html.EditorFor(m => m.rdrInfo.IsMechanism) 機構
                    </label>
                    <label class="checkbox-inline">
                        @Html.EditorFor(m => m.rdrInfo.IsOptic)     光學
                    </label>
                    <label class="checkbox-inline">
                        @Html.EditorFor(m => m.rdrInfo.IsRF)        RF
                    </label>
                </td>
            </tr>
            <tr>
                <td>開發地</td>
                <td colspan="4">
                    @foreach (var item in Model.DevelopSites)
                    {
                        @Html.RadioButtonFor(model => model.SelectedDevelopSiteId, item.Id, new { id = "DevelopSite_" + item.Id })
                        <label>@item.Name</label>
                    }
                </td>
            </tr>
            <tr>
                <td>開發期間</td>
                <td colspan="4">
                    <label class="control-label  col-md-2">開始時間:</label>
                    <div class="col-md-3">@Html.EditorFor(model => model._StartDate, new { htmlAttributes = new { @class = "form-control", type = "date", style = "width:200px" } })</div>
                    <label class="control-label  col-md-2">結束時間:</label>
                    <div class="col-md-3">@Html.EditorFor(model => model._EndDate, new { htmlAttributes = new { @class = "form-control", type = "date", style = "width:200px" } })</div>
                </td>
            </tr>
            <tr>
                <td>其他需求</td>
                <td colspan="4">
                    @Html.TextAreaFor(model => model.rdrInfo.TxtOther_1, new { htmlAttributes = new { @class = "form-control" }, cols = 60, rows = 3, placeHolder = "其他需求" })
                </td>
            </tr>
        </table>

        <table class="table table-bordered">
            <tr>
                <td colspan="6" style="background-color:yellowgreen; font-size:larger; font-weight:bold; text-align:center">報價需求客戶輸入資料</td>
            </tr>
            <tr>
                <th class="col-md-2">規格</th>
                <td class="col-md-2">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsSpec, true, new { id = "IsSpec_Y", name = "IsSpec" }) 有
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsSpec, false, new { id = "IsSpec_N", name = "IsSpec" }) 無
                    </label>
                </td>
                <th class="col-md-2">GERBER</th>
                <td class="col-md-2">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsGERBER, true, new { id = "IsGERBER_Y", name = "IsGERBER" }) 有
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsGERBER, false, new { id = "IsGERBER_N", name = "IsGERBER" }) 無
                    </label>
                </td>
                <th class="col-md-2">線材圖面</th>
                <td class="col-md-2">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsWireDwg, true, new { id = "IsWireDwg_Y", name = "IsWireDwg" }) 有
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsWireDwg, false, new { id = "IsWireDwg_N", name = "IsWireDwg" }) 無
                    </label>
                </td>
            </tr>
            <tr>
                <th class="col-md-2">SAMPLE</th>
                <td class="col-md-2">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsSample, true, new { id = "IsSample_Y", name = "IsSample" }) 有
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsSample, false, new { id = "IsSample_N", name = "IsSample" }) 無
                    </label>
                </td>
                <th class="col-md-2">BOM</th>
                <td class="col-md-2">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsBOM, true, new { id = "IsBOM_Y", name = "IsBOM" }) 有
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsBOM, false, new { id = "IsBOM_N", name = "IsBOM" }) 無
                    </label>
                </td>
                <th class="col-md-2">組合圖</th>
                <td class="col-md-2">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsAssemblyDwg, true, new { id = "IsAssemblyDwg_Y", name = "IsAssemblyDwg" }) 有
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsAssemblyDwg, false, new { id = "IsAssemblyDwg_N", name = "IsAssemblyDwg" }) 無
                    </label>
                </td>
            </tr>
            <tr>
                <th class="col-md-2">D CHART</th>
                <td class="col-md-2">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsDChart, true, new { id = "IsDChart_Y", name = "IsDChart" }) 有
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsDChart, false, new { id = "IsDChart_N", name = "IsDChart" }) 無
                    </label>
                </td>
                <th class="col-md-2">CKT</th>
                <td class="col-md-2">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsCKT, true, new { id = "IsCKT_Y", name = "IsCKT" }) 有
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsCKT, false, new { id = "IsCKT_N", name = "IsCKT" }) 無
                    </label>
                </td>
                <th class="col-md-2">2D圖面</th>
                <td class="col-md-2">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.Is2D, true, new { id = "Is2D_Y", name = "Is2D" }) 有
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.Is2D, false, new { id = "Is2D_N", name = "Is2D" }) 無
                    </label>
                </td>
            </tr>
            <tr>
                <th class="col-md-2">製程要求</th>
                <td class="col-md-2">
                    <label class="radio-inline">
                        @Html.EditorFor(model => model.rdrInfo.IsROHS) ROHS
                    </label>
                    <label class="radio-inline">
                        @Html.EditorFor(model => model.rdrInfo.IsELV) ELV
                    </label>
                </td>
                <th class="col-md-2">VLS配阻</th>
                <td class="col-md-2">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsVLS, true, new { id = "IsVLS_Y", name = "IsVLS" }) 有
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsVLS, false, new { id = "IsVLS_N", name = "IsVLS" }) 無
                    </label>
                </td>
                <th class="col-md-2">3D圖面</th>
                <td class="col-md-2">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.Is3D, true, new { id = "Is3D_Y", name = "Is3D" }) 有
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.Is3D, false, new { id = "Is3D_N", name = "Is3D" }) 無
                    </label>
                </td>
            </tr>
            <tr>
                <th>Others</th>
                <td colspan="5">@Html.TextAreaFor(model => model.rdrInfo.TxtOthers_2, new { htmlAttributes = new { @class = "form-control" }, cols = 60, rows = 3, placeHolder = "補充說明" })</td>
            </tr>
        </table>

        <table class="table table-bordered">
            <tr>
                <td colspan="6" style="background-color:yellowgreen; font-size:larger; font-weight:bold; text-align:center">報價範圍(<span style="color:red">*欄位必填</span>)</td>
            </tr>
            <tr>
                <th class="col-md-2"><span style="color:red">*</span> 單體成本 </th>
                <td>
                    <label class="checkbox-inline">
                        @Html.EditorFor(m => m.rdrInfo.IsMaterialCost)  材料成本
                    </label>
                    <label class="checkbox-inline">
                        @Html.EditorFor(m => m.rdrInfo.IsPackageCost)  包裝成本
                    </label>
                    <label class="checkbox-inline">
                        @Html.EditorFor(m => m.rdrInfo.IsProcessCost)  製程材料成本
                    </label>
                    <label class="checkbox-inline">
                        @Html.EditorFor(m => m.rdrInfo.IsProductHourCost)  生產工時成本
                    </label>
                    <label class="checkbox-inline">
                        @Html.EditorFor(m => m.rdrInfo.IsTestHourCost)  測試工時成本
                    </label>
                </td>
            </tr>
            <tr>
                <th><span style="color:red">*</span> 是否須報樣品價格 </th>
                <td>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsSamplePrice, false, new { id = "IsSamplePrice_N", name = "IsSamplePrice" }) NO
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsSamplePrice, true, new { id = "IsSamplePrice_Y", name = "IsSamplePrice" }) YES
                    </label>
                </td>
            </tr>
            <tr>
                <th><span style="color:red">*</span> NRE CHARGE </th>
                <td>
                    <label class="checkbox-inline">
                        @Html.EditorFor(m => m.rdrInfo.IsModuleFee)  模具費
                    </label>
                    <label class="checkbox-inline">
                        @Html.EditorFor(m => m.rdrInfo.IsSampleFee)  樣品費
                    </label>
                    <label class="checkbox-inline">
                        @Html.EditorFor(m => m.rdrInfo.IsHandMoldingFee)  手造模
                    </label>
                    <label class="checkbox-inline">
                        @Html.EditorFor(m => m.rdrInfo.IsTravelFee)  差旅費
                    </label>
                    <label class="checkbox-inline">
                        @Html.EditorFor(m => m.rdrInfo.IsTestFee)  測試驗證費
                    </label>
                    <label class="checkbox-inline">
                        @Html.EditorFor(m => m.rdrInfo.IsDevelopFee)  開發費
                    </label>
                    <label class="checkbox-inline">
                        @Html.EditorFor(m => m.rdrInfo.IsVerifyToolFee)  製程用檢治工具
                    </label>
                </td>
            </tr>
            <tr>
                <th>報價排除項目</th>
                <td>@Html.TextAreaFor(model => model.rdrInfo.TxtOthers_3, new { htmlAttributes = new { @class = "form-control" }, cols = 60, rows = 3, placeHolder = "報價排除項目" })</td>
            </tr>
        </table>

        <table class="table table-bordered">
            <tr>
                <td colspan="6" style="background-color:yellowgreen; font-size:larger; font-weight:bold; text-align:center">報價特殊需求說明</td>
            </tr>
            <tr>
                <th class="col-md-2">客戶回估文件需求</th>
                <td>
                    <label class="radio-inline">
                        @Html.EditorFor(model => model.rdrInfo.IsAssignForm) 客戶指定表單
                    </label>
                    <label class="radio-inline">
                        @Html.EditorFor(model => model.rdrInfo.IsProposal) 技術提案
                    </label>
                    <label class="radio-inline">
                        @Html.EditorFor(model => model.rdrInfo.IsDevPlan) 開發計畫
                    </label>
                </td>
            </tr>
            <tr>
                <th>是否須階梯報價</th>
                <td>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsStepPrice, false, new { id = "IsStepPrice", name = "IsStepPrice" }) NO
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.rdrInfo.IsStepPrice, true, new { id = "IsStepPrice", name = "IsStepPrice" }) YES
                    </label>
                </td>
            </tr>
            <tr>
                <th>Others</th>
                <td>@Html.TextAreaFor(model => model.rdrInfo.TxtOthers_4, new { htmlAttributes = new { @class = "form-control" }, cols = 60, rows = 3, placeHolder = "補充說明" })</td>
            </tr>
        </table>

    </div>

    <div class="row">
        <div class="col-md-1">
            @Html.ActionLink("返 回", "Details", "RDRManage", new { id = Model.rdrInfo.ParentID }, new { @class = "btn btn-info" })
        </div>

        <div class="col-md-1">
            <div>
                <input type="submit" value="儲 存" class="btn btn-success" />
            </div>
        </div>
    </div>
}


@section scripts{
    <script>
        $('#rdrInfo_ID').val(@id);
        @*$('#rdrInfo_ParentID').val(@parent_id);*@
    </script>
}